# Exercise 4

https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

1. Use the provided dataset in this notebook and complete the following tasks:
	* Create a groupby aggregation
		- Create a line graph from the groupby aggregation
	* Create a pivot_table aggregation
		- Create a bar graph from the pivot_table aggregation
2. Submit the practice notebook (ipynb file) with your name in the filename provided below: 
    - \\\\mh.org\\Public\\CO\\CO - DSci Python Community\\Training\\Python_101_Summer2023\\Exercises

In [1]:
import pandas as pd

df = pd.read_csv('https://data.cdc.gov/resource/xy7w-35q7.csv')
df

,analysisdate,hhs_region,raceethnicity,agegroup,mmwryear,mmwrweek,weekendingdate,allcause,covid_19_u071_multiple_cause,covid_19_u071_underlying,flag_allcause,flag_covidmcod,flag_coviducod
0,2021-09-13T00:00:00.000,1,Hispanic,0-24 Years,2014,53,2015-01-03T00:00:00.000,NaN,0.0,0.0,Suppressed (counts 1-9),NaN,NaN
1,2021-09-13T00:00:00.000,1,Hispanic,0-24 Years,2015,1,2015-01-10T00:00:00.000,NaN,0.0,0.0,Suppressed (counts 1-9),NaN,NaN
2,2021-09-13T00:00:00.000,1,Hispanic,0-24 Years,2015,2,2015-01-17T00:00:00.000,NaN,0.0,0.0,Suppressed (counts 1-9),NaN,NaN
3,2021-09-13T00:00:00.000,1,Hispanic,0-24 Years,2015,3,2015-01-24T00:00:00.000,NaN,0.0,0.0,Suppressed (counts 1-9),NaN,NaN
4,2021-09-13T00:00:00.000,1,Hispanic,0-24 Years,2015,4,2015-01-31T00:00:00.000,NaN,0.0,0.0,Suppressed (counts 1-9),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2021-09-13T00:00:00.000,1,Hispanic,65+ Years,2020,39,2020-09-26T00:00:00.000,53.0,NaN,NaN,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9)
996,2021-09-13T00:00:00.000,1,Hispanic,65+ Years,2020,40,2020-10-03T00:00:00.000,59.0,NaN,NaN,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9)
997,2021-09-13T00:00:00.000,1,Hispanic,65+ Years,2020,41,2020-10-10T00:00:00.000,61.0,NaN,NaN,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9)
998,2021-09-13T00:00:00.000,1,Hispanic,65+ Years,2020,42,2020-10-17T00:00:00.000,47.0,NaN,NaN,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9)
999,2021-09-13T00:00:00.000,1,Hispanic,65+ Years,2020,43,2020-10-24T00:00:00.000,56.0,12.0,11.0,NaN,NaN,NaN