# Getting started
## Jupyter Notebook Shortcut

Commenting: ctrl + '/'
Run code: shift + enter

Get started by importing libraries os and pandas; abbreviate pandas as pd.

os.getcwd() function gets the current working directory where the notebook resides which is shown with the print() function.

# <a name='toc'>Table of Content</a>

<ul style='font-size:12pt;line-height:1.8em'>
    <li><a href='#1_0'>1.0 Data Ingestion</a></li>
    <ul>
        <li><a href='#1_1'>1.1 Flat Files</a></li>
        <li><a href='#1_2'>1.2 Data Precleaning</a></li>
    </ul>
    <li><a href='#2_0'>2.0 Data Exploration</a></li>
    <ul>
        <li><a href='#2_1'>2.1 Pandas Built-in Function for data exploration</a></li>
        <li><a href='#2_2'>2.2 Custom Function for data exploration</a></li>
    </ul>
</ul>

In [1]:
import os  #https://docs.python.org/3/library/os.html
import pandas as pd  #https://pandas.pydata.org/pandas-docs/stable/reference/
import numpy as np  #https://numpy.org/doc/stable/reference/index.html#reference
import pyodbc
# pd.options.mode.chained_assignment = None

## Setting up the working directory with a class object ##
class loc:
    d0 = os.getcwd() + '\\'  #get current working directory
    d1 = d0 + 'data\\'
#     pdr = '\\\\clinisilonhh\\ifs\\PHI_Access\\PHI-CO - Data Science Share\\'
#     odr = '\\\\clinisilonhh\\ifs\\PHI_Access\\PHI-CO - System Stroke Data Crosswalk\\'
    
print(loc.d0)  #printing the current working location

C:\Users\E1724299\Desktop\Python Curriculum 2.0\

<div align='right'><a href='#toc' style='text-decoration:none;font-weight:bold;color:#0877ff;'>&#11014;&#65039; Back to the Top</a></div>

# <a name='1_0'>1.0 Data Ingestion</a>
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html

## <a name='1_1'>1.1 Flat Files</a>

In [2]:
%%time
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
# read csv, txt file
csv = pd.read_csv(loc.d1 + 'raw_data_alt.csv')
display(csv)

,ids,AdmitDate,AdmitTime,DischargeDate,DischargeTime,EntityCode,Loc1,Loc2,Loc3,Loc4,...,DateIn5,TimeIn1,TimeIn2,TimeIn3,TimeIn4,TimeIn5,EncStatus,FinancialClass,VisitType,cost
0,E0122776959240,1/1/2013,627,1/2/2013,1422.0,MC,EDMC,VUMC,VUMC,J6MB,...,NaN,1031,1417.0,1417.0,1525.0,NaN,Cancelled,MH - MEDICARE HMO,OP,$1.94
1,E0192437769970,1/1/2013,1507,1/1/2013,1845.0,MC,JANT,NaN,NaN,NaN,...,NaN,1244,NaN,NaN,NaN,NaN,Discharged,SP - SELF-PAY,Obs,$69.68
2,E0238210647860,1/1/2013,1353,1/2/2013,1726.0,SE,JANT,NaN,NaN,NaN,...,NaN,1637,NaN,NaN,NaN,NaN,Preadmit,HM - HMO,Obs,$75.59
3,E0295116781805,1/1/2013,625,1/2/2013,1520.0,HH,EDMC,VUMC,J7EC,NaN,...,NaN,1657,2016.0,2130.0,NaN,NaN,Active,MH - MEDICARE HMO,ED,$66.22
4,E0576457975867,1/1/2013,56,1/3/2013,1515.0,SE,EDMC,VUMC,VUMC,J7MB,...,NaN,1050,1551.0,1703.0,1740.0,NaN,Cancelled,MH - MEDICARE HMO,ED,$94.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112438,E9870946410920,6/30/2019,1329,7/3/2019,1616.0,HH,EDMC,VUMC,J7MB,NaN,...,NaN,1247,1611.0,1744.0,NaN,NaN,Discharged,HX - HEALTH INSURANCE EXCHANGE,Obs,$19.26
112439,E9875397672366,6/30/2019,2257,7/9/2019,1607.0,SE,EDMC,VUMC,J4EA,J3EA,...,7/2/2019,1536,2127.0,229.0,1827.0,1616.0,Preadmit,MR - MEDICARE,Obs,$33.08
112440,E9904534873864,6/30/2019,2045,7/3/2019,1325.0,HH,EDHH,WC5,WCAN,NaN,...,NaN,30,500.0,1739.0,NaN,NaN,Active,MR - MEDICARE,Obs,$95.27
112441,E9927247603461,6/30/2019,1626,7/2/2019,1730.0,HH,EDMC,VUMC,J4EC,NaN,...,NaN,618,826.0,1356.0,NaN,NaN,Discharged,DH - MEDICAID HMO,OP,$22.12
112442,E9997051257232,6/30/2019,1025,7/3/2019,1115.0,HH,OBEC,WCOR,WC6N,NaN,...,NaN,1825,1825.0,18.0,NaN,NaN,Cancelled,BC - BLUE CROSS,DS,$46.76

Wall time: 309 ms

In [3]:
%%time
# https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
# read excel file
xlx = pd.read_excel(loc.d1 + 'raw_data_alt.xlsx')
display(xlx)

,ids,AdmitDate,AdmitTime,DischargeDate,DischargeTime,EntityCode,Loc1,Loc2,Loc3,Loc4,...,DateIn5,TimeIn1,TimeIn2,TimeIn3,TimeIn4,TimeIn5,EncStatus,FinancialClass,VisitType,cost
0,E0122776959240,2013-01-01,627,2013-01-02,1422.0,MC,EDMC,VUMC,VUMC,J6MB,...,NaT,1031,1417.0,1417.0,1525.0,NaN,Cancelled,MH - MEDICARE HMO,OP,1.94
1,E0192437769970,2013-01-01,1507,2013-01-01,1845.0,MC,JANT,NaN,NaN,NaN,...,NaT,1244,NaN,NaN,NaN,NaN,Discharged,SP - SELF-PAY,Obs,69.68
2,E0238210647860,2013-01-01,1353,2013-01-02,1726.0,SE,JANT,NaN,NaN,NaN,...,NaT,1637,NaN,NaN,NaN,NaN,Preadmit,HM - HMO,Obs,75.59
3,E0295116781805,2013-01-01,625,2013-01-02,1520.0,HH,EDMC,VUMC,J7EC,NaN,...,NaT,1657,2016.0,2130.0,NaN,NaN,Active,MH - MEDICARE HMO,ED,66.22
4,E0576457975867,2013-01-01,56,2013-01-03,1515.0,SE,EDMC,VUMC,VUMC,J7MB,...,NaT,1050,1551.0,1703.0,1740.0,NaN,Cancelled,MH - MEDICARE HMO,ED,94.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112438,E9870946410920,2019-06-30,1329,2019-07-03,1616.0,HH,EDMC,VUMC,J7MB,NaN,...,NaT,1247,1611.0,1744.0,NaN,NaN,Discharged,HX - HEALTH INSURANCE EXCHANGE,Obs,19.26
112439,E9875397672366,2019-06-30,2257,2019-07-09,1607.0,SE,EDMC,VUMC,J4EA,J3EA,...,2019-07-02,1536,2127.0,229.0,1827.0,1616.0,Preadmit,MR - MEDICARE,Obs,33.08
112440,E9904534873864,2019-06-30,2045,2019-07-03,1325.0,HH,EDHH,WC5,WCAN,NaN,...,NaT,30,500.0,1739.0,NaN,NaN,Active,MR - MEDICARE,Obs,95.27
112441,E9927247603461,2019-06-30,1626,2019-07-02,1730.0,HH,EDMC,VUMC,J4EC,NaN,...,NaT,618,826.0,1356.0,NaN,NaN,Discharged,DH - MEDICAID HMO,OP,22.12
112442,E9997051257232,2019-06-30,1025,2019-07-03,1115.0,HH,OBEC,WCOR,WC6N,NaN,...,NaT,1825,1825.0,18.0,NaN,NaN,Cancelled,BC - BLUE CROSS,DS,46.76

Wall time: 27 s

<div align='right'><a href='#toc' style='text-decoration:none;font-weight:bold;color:#0877ff;'>&#11014;&#65039; Back to the Top</a></div>

## <a name='1_2'>1.2 Precleaning the data</a>

In [4]:
%%time
# define the data type for Pandas
dtyp = {'EntityCode': 'object', 'ids': 'object', 'AdmitDate': 'object', 'DischargeDate': 'object',
 'Loc1': 'object', 'Loc2': 'object', 'Loc3': 'object', 
 'PtType1': 'object', 'PtType2': 'object', 'PtType3': 'object',
 'DateIn1': 'object', 'DateIn2': 'object', 'DateIn3': 'object', 
 'TimeIn1': 'int64', 'TimeIn2': 'float64', 'TimeIn3': 'float64',
 'FinancialClass': 'object', 'VisitType': 'object'}

# to speed up pandas reading of data, explicitly declare the datatype and limit the number of columns to use
# to remove empty columns uses .dropna()
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html
csv = pd.read_csv(loc.d1 + 'raw_data_alt.csv', usecols=dtyp.keys(), dtype=dtyp)#.dropna(how='all',axis=1)
csv

Wall time: 222 ms

,ids,AdmitDate,DischargeDate,EntityCode,Loc1,Loc2,Loc3,PtType1,PtType2,PtType3,DateIn1,DateIn2,DateIn3,TimeIn1,TimeIn2,TimeIn3,FinancialClass,VisitType
0,E0122776959240,1/1/2013,1/2/2013,MC,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,1031,1417.0,1417.0,MH - MEDICARE HMO,OP
1,E0192437769970,1/1/2013,1/1/2013,MC,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1244,NaN,NaN,SP - SELF-PAY,Obs
2,E0238210647860,1/1/2013,1/2/2013,SE,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1637,NaN,NaN,HM - HMO,Obs
3,E0295116781805,1/1/2013,1/2/2013,HH,EDMC,VUMC,J7EC,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1657,2016.0,2130.0,MH - MEDICARE HMO,ED
4,E0576457975867,1/1/2013,1/3/2013,SE,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,1050,1551.0,1703.0,MH - MEDICARE HMO,ED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112438,E9870946410920,6/30/2019,7/3/2019,HH,EDMC,VUMC,J7MB,ER,IP,IP,6/30/2019,6/30/2019,6/30/2019,1247,1611.0,1744.0,HX - HEALTH INSURANCE EXCHANGE,Obs
112439,E9875397672366,6/30/2019,7/9/2019,SE,EDMC,VUMC,J4EA,ER,IP,IP,6/30/2019,6/30/2019,7/1/2019,1536,2127.0,229.0,MR - MEDICARE,Obs
112440,E9904534873864,6/30/2019,7/3/2019,HH,EDHH,WC5,WCAN,ER,IP,IP,6/30/2019,6/30/2019,6/30/2019,30,500.0,1739.0,MR - MEDICARE,Obs
112441,E9927247603461,6/30/2019,7/2/2019,HH,EDMC,VUMC,J4EC,ER,IP,IP,6/30/2019,6/30/2019,6/30/2019,618,826.0,1356.0,DH - MEDICAID HMO,OP
112442,E9997051257232,6/30/2019,7/3/2019,HH,OBEC,WCOR,WC6N,ER,IP,IP,6/30/2019,6/30/2019,7/1/2019,1825,1825.0,18.0,BC - BLUE CROSS,DS

In [5]:
## shortcut to extract datatype from an existing dataframe ##
# https://pandas.pydata.org/docs/reference/api/pandas.Series.html
# https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html
# https://pandas.pydata.org/docs/reference/api/pandas.Series.to_dict.html
# pd.Series(csv.dtypes).astype('str').to_dict()

<div align='right'><a href='#toc' style='text-decoration:none;font-weight:bold;color:#0877ff;'>&#11014;&#65039; Back to the Top</a></div>

# <a name='2_0'>2.0 Data Exploration</a>
## <a name='2_1'>2.1 Pandas Built-in Function for data exploration</a>
### 2.1a df.info()
This method provides a quick overview of the data in terms of data structure, missing values, etc.
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

In [6]:
print('dataframe shape (row x column):', csv.shape)
print('datatype of the columns:',csv.dtypes)
print('a list of column names',csv.columns)
csv.info()

dataframe shape (row x column): (112443, 18)
datatype of the columns: ids                object
AdmitDate          object
DischargeDate      object
EntityCode         object
Loc1               object
Loc2               object
Loc3               object
PtType1            object
PtType2            object
PtType3            object
DateIn1            object
DateIn2            object
DateIn3            object
TimeIn1             int64
TimeIn2           float64
TimeIn3           float64
FinancialClass     object
VisitType          object
dtype: object
a list of column names Index(['ids', 'AdmitDate', 'DischargeDate', 'EntityCode', 'Loc1', 'Loc2',
       'Loc3', 'PtType1', 'PtType2', 'PtType3', 'DateIn1', 'DateIn2',
       'DateIn3', 'TimeIn1', 'TimeIn2', 'TimeIn3', 'FinancialClass',
       'VisitType'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112443 entries, 0 to 112442
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ids             112443 non-null  object
 1   AdmitDate       112443 non-null  object
 2   DischargeDate   112293 non-null  object
 3   EntityCode      112443 non-null  object
 4   Loc1            112443 non-null  object
 5   Loc2            86881 non-null   object
 6   Loc3            63902 non-null   object
 7   PtType1         112443 non-null  object
 8   PtType2         86881 non-null   object
 9   PtType3         63902 non-null   object
 10  DateIn1         112443 non-null  object
 11  DateIn2         86881 non-null   object
 12  DateIn3         63902 non-null   object
 13  TimeIn1         112443 non-null  int64
 14  TimeIn2         86881 non-null   float64
 15  TimeIn3         63902 non-null   float64
 16  FinancialClass  112443 non-null  object
 17  VisitType       112443 non-null  object
dtypes: float64(2), int64(1), object(15)
memory usage: 15.4+ MB

### 2.1b df.describe()
This method generates a descriptive analysis of the columns with int64 or float64 datatype by default. However, can also provide additional parameters (see link below) or if dataframe does not consist of numeric columns to get descriptive analysis of object or non-numeric columns as well.<br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [7]:
csv.describe()

             TimeIn1       TimeIn2       TimeIn3
count  112443.000000  86881.000000  63902.000000
mean     1192.859636   1366.002509   1349.006557
std       584.374715    634.696906    713.104050
min         0.000000      0.000000      0.000000
25%       730.000000   1005.000000    739.000000
50%      1137.000000   1452.000000   1521.000000
75%      1645.000000   1843.000000   1947.000000
max      2359.000000   2359.000000   2359.000000

### 2.1c Series.unique() or Series.nunique()
<b>df['colName'].unique():</b> returns a list of unique values from a column<br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html

<b>df['colName'].nunique():</b> returns a count of unique values from a column<br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.nunique.html

In [8]:
csv['FinancialClass'].unique()

array(['MH - MEDICARE HMO', 'SP - SELF-PAY', 'HM - HMO', 'MR - MEDICARE',
       'L1 - GOV THIRD PRTY LIAB', 'DH - MEDICAID HMO',
       'DT - MEDICAID TRADITIONAL', 'PP - PPO',
       'CL - COMMERCIAL LOW BENES', 'BC - BLUE CROSS', 'CH - CHAMPUS',
       'CO - COMMERCIAL', 'DP - MEDICAID PENDING',
       'L2 - SP THIRD PRTY LIAB', 'DO - MEDICAID OUT STATE',
       'EC - MHHS EMPLOYEE COV', 'HX - HEALTH INSURANCE EXCHANGE',
       'WT - WORK COMP TWC', 'GP - GOVT PROGRAMS', 'IN - INSTITUTIONAL',
       'MB - MEDICARE PART B', 'WI - WORK COMP', 'IT - INTERNATIONAL SP',
       'II - INTERNATIONAL INS', 'RE - RESEARCH', 'WE - WORK COMP MHHS',
       'DS - MEDICAID STAR'], dtype=object)

In [9]:
csv['FinancialClass'].nunique()

27

### 2.1d df.nunique()
This method returns a Series object that shows the count of unique values in each column of a dataframe.<br>
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html

In [10]:
csv.nunique()

ids               112443
AdmitDate            699
DischargeDate        733
EntityCode             3
Loc1                 172
Loc2                 164
Loc3                 151
PtType1                5
PtType2                5
PtType3                5
DateIn1              705
DateIn2              718
DateIn3              722
TimeIn1             1440
TimeIn2             1440
TimeIn3             1440
FinancialClass        27
VisitType              5
dtype: int64

### 2.1e Series.value_counts()
<b>df['colName'].value_counts():</b> returns a Series containing counts of unique values within a column.<br>
https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html

In [11]:
csv['FinancialClass'].value_counts()

FinancialClass
MR - MEDICARE                     21691
MH - MEDICARE HMO                 18432
HM - HMO                          15746
DH - MEDICAID HMO                 15508
BC - BLUE CROSS                   14089
SP - SELF-PAY                      7647
PP - PPO                           6874
HX - HEALTH INSURANCE EXCHANGE     2649
DP - MEDICAID PENDING              2408
DT - MEDICAID TRADITIONAL          2248
EC - MHHS EMPLOYEE COV             1994
L2 - SP THIRD PRTY LIAB             437
L1 - GOV THIRD PRTY LIAB            424
CH - CHAMPUS                        411
WT - WORK COMP TWC                  372
GP - GOVT PROGRAMS                  318
CO - COMMERCIAL                     277
WI - WORK COMP                      205
DO - MEDICAID OUT STATE             184
CL - COMMERCIAL LOW BENES           184
II - INTERNATIONAL INS              122
IN - INSTITUTIONAL                  116
MB - MEDICARE PART B                 48
IT - INTERNATIONAL SP                43
WE - WORK COMP MHHS                  10
RE - RESEARCH                         5
DS - MEDICAID STAR                    1
Name: count, dtype: int64

<div align='right'><a href='#toc' style='text-decoration:none;font-weight:bold;color:#0877ff;'>&#11014;&#65039; Back to the Top</a></div>

## <a name='2_2'>2.2 Custom Function for data exploration</a>

In [12]:
%%time
def print_full(x):  # Display all df columns and rows
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    display(x)
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')

# this function is to display the full dataframe. 
# Caution: large dataset that's both wide and long can cause the notebook to crash!
print_full(csv.iloc[:50,:])

,ids,AdmitDate,DischargeDate,EntityCode,Loc1,Loc2,Loc3,PtType1,PtType2,PtType3,DateIn1,DateIn2,DateIn3,TimeIn1,TimeIn2,TimeIn3,FinancialClass,VisitType
0,E0122776959240,1/1/2013,1/2/2013,MC,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,1031,1417.0,1417.0,MH - MEDICARE HMO,OP
1,E0192437769970,1/1/2013,1/1/2013,MC,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1244,NaN,NaN,SP - SELF-PAY,Obs
2,E0238210647860,1/1/2013,1/2/2013,SE,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1637,NaN,NaN,HM - HMO,Obs
3,E0295116781805,1/1/2013,1/2/2013,HH,EDMC,VUMC,J7EC,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1657,2016.0,2130.0,MH - MEDICARE HMO,ED
4,E0576457975867,1/1/2013,1/3/2013,SE,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,1050,1551.0,1703.0,MH - MEDICARE HMO,ED
5,E0579318588523,1/1/2013,1/3/2013,HH,EDMC,VUMC,J5MA,ER,OU,OU,12/31/2012,12/31/2012,12/31/2012,1220,1937.0,2200.0,SP - SELF-PAY,DS
6,E0599404356054,1/1/2013,1/2/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,246,633.0,815.0,MR - MEDICARE,IP
7,E0733758165988,1/1/2013,1/2/2013,HH,EDMC,VUMC,J5MA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1440,2008.0,2159.0,MR - MEDICARE,IP
8,E1190367068869,1/1/2013,1/3/2013,MC,J5EA,J5EA,NaN,OU,IP,NaN,1/1/2013,1/1/2013,NaN,1413,1420.0,NaN,MR - MEDICARE,Obs
9,E1457522035792,1/1/2013,1/11/2013,MC,J5MA,J5MA,J7MA,OU,IP,IP,12/30/2012,1/1/2013,1/1/2013,921,1019.0,1527.0,MH - MEDICARE HMO,ED
10,E1491731616525,1/1/2013,1/11/2013,HH,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,854,1100.0,1100.0,SP - SELF-PAY,Obs
11,E1641594099130,1/1/2013,1/2/2013,HH,PDMC,VUMC,JPED,ER,OU,OU,1/1/2013,1/1/2013,1/2/2013,1834,2346.0,52.0,L1 - GOV THIRD PRTY LIAB,Obs
12,E2080279238911,1/1/2013,1/1/2013,HH,EDMC,VUMC,JLOR,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,232,509.0,544.0,DH - MEDICAID HMO,Obs
13,E2401063385472,1/1/2013,1/4/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,12/31/2012,12/31/2012,12/31/2012,1040,1422.0,1648.0,DT - MEDICAID TRADITIONAL,Obs
14,E2711134290177,1/1/2013,1/2/2013,SE,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1753,NaN,NaN,MR - MEDICARE,Obs
15,E2855774972354,1/1/2013,1/2/2013,HH,EDMC,VUMC,J5MA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,222,656.0,825.0,PP - PPO,OP
16,E2937968845595,1/1/2013,1/1/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,12/31/2012,1/1/2013,1/1/2013,1513,37.0,151.0,DH - MEDICAID HMO,OP
17,E2962059711866,1/1/2013,1/15/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,12/29/2012,12/29/2012,12/30/2012,2015,2240.0,14.0,MR - MEDICARE,Obs
18,E3114480763309,1/1/2013,1/2/2013,SE,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1524,NaN,NaN,MH - MEDICARE HMO,Obs
19,E3360841276113,1/1/2013,1/4/2013,HH,JLDR,JLDR,JLOR,OU,IP,IP,1/1/2013,1/1/2013,1/1/2013,1254,1405.0,1747.0,MH - MEDICARE HMO,Obs
20,E3463914483274,1/1/2013,1/2/2013,HH,EDMC,J7EA,NaN,ER,OU,NaN,1/1/2013,1/1/2013,NaN,1042,1243.0,NaN,DH - MEDICAID HMO,ED
21,E3540049083281,1/1/2013,1/7/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,852,1459.0,1650.0,DH - MEDICAID HMO,DS
22,E3745409939176,1/1/2013,1/3/2013,SE,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,238,507.0,507.0,MR - MEDICARE,Obs
23,E3784890565721,1/1/2013,1/1/2013,MC,JLDR,JANT,NaN,OU,OU,NaN,1/1/2013,1/1/2013,NaN,40,321.0,NaN,DH - MEDICAID HMO,IP
24,E3792043704137,1/1/2013,1/1/2013,SE,JLDR,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1458,NaN,NaN,DH - MEDICAID HMO,IP
25,E4042515992988,1/1/2013,1/2/2013,HH,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1900,NaN,NaN,MH - MEDICARE HMO,Obs
26,E4191707188228,1/1/2013,1/2/2013,HH,EDMC,VUMC,J5MA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,822,1718.0,1842.0,CL - COMMERCIAL LOW BENES,Obs
27,E4315522411754,1/1/2013,1/3/2013,MC,EDMC,VUMC,J7EC,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1811,2025.0,2152.0,HM - HMO,DS
28,E4506164743419,1/1/2013,1/2/2013,HH,JLDR,JLDR,JLDR,OU,IP,OU,1/1/2013,1/1/2013,1/1/2013,309,309.0,326.0,MH - MEDICARE HMO,DS
29,E4511262082417,1/1/2013,1/1/2013,MC,JLDR,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1431,NaN,NaN,SP - SELF-PAY,DS
30,E4511342216992,1/1/2013,1/5/2013,SE,JLDR,JANT,JANT,OU,IP,OU,1/1/2013,1/1/2013,1/1/2013,2120,2120.0,2314.0,MH - MEDICARE HMO,Obs
31,E5750126091024,1/1/2013,1/4/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,12/31/2012,12/31/2012,12/31/2012,1515,2214.0,2324.0,MH - MEDICARE HMO,ED
32,E5773013597400,1/1/2013,1/4/2013,HH,EDMC,VUMC,J5EA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,818,1318.0,1650.0,MH - MEDICARE HMO,DS
33,E5802510971118,1/1/2013,1/3/2013,HH,JPPA,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,2218,NaN,NaN,PP - PPO,IP
34,E5892617888709,1/1/2013,1/2/2013,MC,EDMC,VUMC,J5EB,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,733,1225.0,1409.0,HM - HMO,Obs
35,E5900908255152,1/1/2013,1/2/2013,MC,J4ED,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1519,NaN,NaN,MH - MEDICARE HMO,ED
36,E0208977631144,1/2/2013,1/3/2013,HH,EDMC,VUMC,J7ED,ER,OU,OU,1/2/2013,1/2/2013,1/2/2013,1147,1411.0,1533.0,MR - MEDICARE,DS
37,E0316843890590,1/2/2013,1/18/2013,MC,EDMC,VUMC,VUMC,ER,OU,IP,1/2/2013,1/2/2013,1/2/2013,1407,1835.0,1907.0,SP - SELF-PAY,Obs
38,E0400824642652,1/2/2013,1/2/2013,MC,END,NaN,NaN,BO,NaN,NaN,1/2/2013,NaN,NaN,725,NaN,NaN,BC - BLUE CROSS,ED
39,E0419463295170,1/2/2013,1/4/2013,HH,EDMC,VUMC,J5MA,ER,OU,OU,1/2/2013,1/2/2013,1/2/2013,1112,1402.0,1440.0,BC - BLUE CROSS,IP
40,E0464412354457,1/2/2013,1/2/2013,HH,JPAC,NaN,NaN,DS,NaN,NaN,1/2/2013,NaN,NaN,808,NaN,NaN,CH - CHAMPUS,IP
41,E0494660556634,1/2/2013,1/3/2013,MC,JDS1,JDS1,J5EA,DS,IP,IP,1/2/2013,1/2/2013,1/2/2013,808,1425.0,1657.0,MR - MEDICARE,Obs
42,E0578147127511,1/2/2013,1/9/2013,MC,EDMC,VUMC,J6EA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1233,1603.0,1800.0,PP - PPO,OP
43,E0594587343167,1/2/2013,1/2/2013,MC,END,NaN,NaN,BO,NaN,NaN,1/2/2013,NaN,NaN,604,NaN,NaN,HM - HMO,ED
44,E0650640731225,1/2/2013,1/2/2013,HH,JDS1,NaN,NaN,DS,NaN,NaN,1/2/2013,NaN,NaN,652,NaN,NaN,MR - MEDICARE,OP
45,E0655144517266,1/2/2013,1/4/2013,MC,EDMC,VUMC,J5MA,ER,OU,OU,1/2/2013,1/2/2013,1/2/2013,1138,1641.0,2044.0,PP - PPO,ED
46,E0711100043180,1/2/2013,1/8/2013,HH,EDMC,VUMC,J5MA,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1015,1550.0,1756.0,CL - COMMERCIAL LOW BENES,ED
47,E0716084102271,1/2/2013,1/2/2013,MC,JDS2,NaN,NaN,BO,NaN,NaN,1/2/2013,NaN,NaN,654,NaN,NaN,CO - COMMERCIAL,DS
48,E0829657332270,1/2/2013,1/2/2013,MC,JDS2,NaN,NaN,BO,NaN,NaN,1/2/2013,NaN,NaN,1124,NaN,NaN,BC - BLUE CROSS,DS
49,E0961576787464,1/2/2013,1/3/2013,HH,J5MA,NaN,NaN,OU,NaN,NaN,1/2/2013,NaN,NaN,1639,NaN,NaN,MR - MEDICARE,IP

Wall time: 36.1 ms

In [13]:
%%time    
def df_unique(df): #retrieve unique value from each column of a dataframe
    # https://stackoverflow.com/a/68813683
    uni = pd.Series({col:list(df[col].unique()) for col in df})
    return uni

# this function return a Series object that show the unique values in each column of a dataframe.
df_unique(csv)

Wall time: 88.6 ms

ids               [E0122776959240, E0192437769970, E023821064786...
AdmitDate         [1/1/2013, 1/2/2013, 1/3/2013, 1/4/2013, 1/5/2...
DischargeDate     [1/2/2013, 1/1/2013, 1/3/2013, 1/11/2013, 1/4/...
EntityCode                                             [MC, SE, HH]
Loc1              [EDMC, JANT, J5EA, J5MA, PDMC, JLDR, JPPA, J4E...
Loc2              [VUMC, nan, J5EA, J5MA, JLDR, J7EA, JANT, JDS1...
Loc3              [VUMC, nan, J7EC, J5MA, J7MA, JPED, JLOR, JLDR...
PtType1                                        [ER, OU, BO, DS, IP]
PtType2                                   [OU, nan, IP, BO, DS, ER]
PtType3                                   [IP, nan, OU, DS, BO, ER]
DateIn1           [1/1/2013, 12/31/2012, 12/30/2012, 12/29/2012,...
DateIn2           [1/1/2013, nan, 12/31/2012, 12/29/2012, 1/2/20...
DateIn3           [1/1/2013, nan, 12/31/2012, 1/2/2013, 12/30/20...
TimeIn1           [1031, 1244, 1637, 1657, 1050, 1220, 246, 1440...
TimeIn2           [1417.0, nan, 2016.0, 1551.0, 1937.0, 633.0, 2...
TimeIn3           [1417.0, nan, 2130.0, 1703.0, 2200.0, 815.0, 2...
FinancialClass    [MH - MEDICARE HMO, SP - SELF-PAY, HM - HMO, M...
VisitType                                     [OP, Obs, ED, DS, IP]
dtype: object

In [14]:
df_uniq = df_unique(csv)
df_uniq['FinancialClass']  #this syntax show the unique values in FinancialClassDesc column

['MH - MEDICARE HMO',
 'SP - SELF-PAY',
 'HM - HMO',
 'MR - MEDICARE',
 'L1 - GOV THIRD PRTY LIAB',
 'DH - MEDICAID HMO',
 'DT - MEDICAID TRADITIONAL',
 'PP - PPO',
 'CL - COMMERCIAL LOW BENES',
 'BC - BLUE CROSS',
 'CH - CHAMPUS',
 'CO - COMMERCIAL',
 'DP - MEDICAID PENDING',
 'L2 - SP THIRD PRTY LIAB',
 'DO - MEDICAID OUT STATE',
 'EC - MHHS EMPLOYEE COV',
 'HX - HEALTH INSURANCE EXCHANGE',
 'WT - WORK COMP TWC',
 'GP - GOVT PROGRAMS',
 'IN - INSTITUTIONAL',
 'MB - MEDICARE PART B',
 'WI - WORK COMP',
 'IT - INTERNATIONAL SP',
 'II - INTERNATIONAL INS',
 'RE - RESEARCH',
 'WE - WORK COMP MHHS',
 'DS - MEDICAID STAR']

In [15]:
#difference between print and display a dataframe
display(csv.head())
print(csv.head())

,ids,AdmitDate,DischargeDate,EntityCode,Loc1,Loc2,Loc3,PtType1,PtType2,PtType3,DateIn1,DateIn2,DateIn3,TimeIn1,TimeIn2,TimeIn3,FinancialClass,VisitType
0,E0122776959240,1/1/2013,1/2/2013,MC,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,1031,1417.0,1417.0,MH - MEDICARE HMO,OP
1,E0192437769970,1/1/2013,1/1/2013,MC,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1244,NaN,NaN,SP - SELF-PAY,Obs
2,E0238210647860,1/1/2013,1/2/2013,SE,JANT,NaN,NaN,OU,NaN,NaN,1/1/2013,NaN,NaN,1637,NaN,NaN,HM - HMO,Obs
3,E0295116781805,1/1/2013,1/2/2013,HH,EDMC,VUMC,J7EC,ER,OU,OU,1/1/2013,1/1/2013,1/1/2013,1657,2016.0,2130.0,MH - MEDICARE HMO,ED
4,E0576457975867,1/1/2013,1/3/2013,SE,EDMC,VUMC,VUMC,ER,OU,IP,1/1/2013,1/1/2013,1/1/2013,1050,1551.0,1703.0,MH - MEDICARE HMO,ED

              ids AdmitDate DischargeDate EntityCode  Loc1  Loc2  Loc3
0  E0122776959240  1/1/2013      1/2/2013         MC  EDMC  VUMC  VUMC  \
1  E0192437769970  1/1/2013      1/1/2013         MC  JANT   NaN   NaN
2  E0238210647860  1/1/2013      1/2/2013         SE  JANT   NaN   NaN
3  E0295116781805  1/1/2013      1/2/2013         HH  EDMC  VUMC  J7EC
4  E0576457975867  1/1/2013      1/3/2013         SE  EDMC  VUMC  VUMC

  PtType1 PtType2 PtType3   DateIn1   DateIn2   DateIn3  TimeIn1  TimeIn2
0      ER      OU      IP  1/1/2013  1/1/2013  1/1/2013     1031   1417.0  \
1      OU     NaN     NaN  1/1/2013       NaN       NaN     1244      NaN
2      OU     NaN     NaN  1/1/2013       NaN       NaN     1637      NaN
3      ER      OU      OU  1/1/2013  1/1/2013  1/1/2013     1657   2016.0
4      ER      OU      IP  1/1/2013  1/1/2013  1/1/2013     1050   1551.0

   TimeIn3     FinancialClass VisitType
0   1417.0  MH - MEDICARE HMO        OP
1      NaN      SP - SELF-PAY       Obs
2      NaN           HM - HMO       Obs
3   2130.0  MH - MEDICARE HMO        ED
4   1703.0  MH - MEDICARE HMO        ED

<div align='center'><a href='#toc' style='text-decoration:none;font-weight:bold;color:#0877ff;'>&#11014;&#65039; Back to the Top</a></div>